:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: lightslategray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



/* General Styles */


h1 {
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}


/* BotCollection and MyBotArmy Styles */
.bot-collection,
.botcard {
  flex: 1;
  max-width: 400px;
  padding: 40px;
  background-color: #49819748;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.bot-collection h2,
.botcard h2 {
  text-align: center;
  margin-bottom: 20px;
}

.botcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-bottom: 15px;
  border: 1px solid #740086;
  border-radius: 10px;
}

.botcard img {
  width: 120px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 10px;
}

.botcard h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.botcard p {
  margin-bottom: 5px;
}

.bot-collection,
.botcard {
  max-width: 100%;
  margin: 20px;
}
button{
  background-color: #740086;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
button:hover{
  background-color: pink;
}

.release-btn:hover{
  background-color: red;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .bot-collection,
  .botcard {
    max-width: 100%;
    margin: 20px;
  }
}
